body {
  font-family: Arial;
  margin: 40px;
}

section {
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  margin-right: 6px;
}

pre {
  background: #f3f3f3;
  padding: 10px;
  border-left: 4px solid #555;
}

pre.error {
  border-left: 4px solid red;
  color: red;
  font-weight: bold;
}
